@page "/faq"
@using BlazorBootstrap
@using ProjectZee.Web.Services
@inject CmsService Cms

<section class="container my-5 py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="fw-bold text-center mb-4"><i class="bi bi-question-circle-fill text-info me-2"></i>Veelgestelde vragen</h2>
            <Accordion>
                @foreach(var faq in faqItems)
                {
                    <AccordionItem Title="@faq.Title">
                        <Content>
                            @((MarkupString)faq.Content.Markup)
                        </Content>
                    </AccordionItem>
                }
            </Accordion>
        </div>
    </div>
</section>
@code {
    string[] slugs=    {
        "FaqVolger",
        "FaqProject",
        "FaqKandidaat"
    };

    private List<CmsContentItem> faqItems; 

    protected override async Task OnInitializedAsync()
    {
        faqItems = new List<CmsContentItem>();
        foreach (var slug in slugs)
        {
            var content = await Cms.GetPageAsync(slug);
            faqItems.Add(content);
        }
    }
}
