@page "/info/{id}"
<div class="container my-5">
<div class="row g-4">
    <h1 class="mb-4 fw-bold text-dark"><i class="bi bi-building-gear text-info me-2"></i>Alles wat je moet weten...</h1>
    <div class="col-lg-9">
        <div class="card border-0 shadow-sm sticky-lg-top" style="top: 90px;">
            <div class="card-body">
                <CmsSnippet Slug="@Id"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <h5>Inhoudstafel</h5>
        <ul>
            <li><a href="/info/info">Wat is 'Project Zee'</a></li>
            <li><a href="/info/stap1">Samenstelling kopersgroep</a></li>
            <li><a href="/info/aankoop">Aankoop van het pand</a></li>
            <li><a href="/info/gebruik">Het gebruik van het pand</a></li>
            <li><a href="/info/heteinde">Einde van het project</a></li>
            <li><a href="/faq">Veelgestelde vragen (faq)</a></li>
        </ul>
        <h5>Terminologie</h5>
        Voor een beter begrip van de informatie op deze website, is het handig om enkele termen te kennen die hier vaak worden gebruikt
        <ul>
            <li>Coöperatie</li>
            <li>Eigenaar</li>
            <li>Kandidaat</li>
            <li>Pand</li>
            <li>Aandeel</li>
        </ul>
    </div>
</div>
</div>
@code{
    [Parameter]
    public string Id { get; set; }

}
