@page "/start-following/{id}"
@using Microsoft.EntityFrameworkCore
@using ProjectZee.Web.Data
@using System.Security.Claims
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using BlazorBootstrap.Components
@rendermode InteractiveServer
<div class="container my-5">
    @if(selectedProject !=null)
    {
        <h3>@selectedProject.Name - @selectedProject.RegionOrCity - Slaapkamers: @selectedProject.Bedrooms</h3>
    }
    <CmsSnippet Slug="ExplainFollower"/>
    <AuthorizeView>
        <Authorized>
            @if(alreadyFollowing)
            {
                <div>Je volgt dit project al.</div>
                <div><Button Color="ButtonColor.Primary" @onclick='() => Navigation.NavigateTo("/userspage")'>Naar het overzicht van de projecten die je volgt</Button></div>
            }
            else
            {
                <button class="btn btn-primary" @onclick="HandleFollow">Volg dit project</button>
            }
        </Authorized>
        <NotAuthorized>
            <CmsSnippet Slug="LoginToFollow"/>
            <button class="btn btn-primary" @onclick="toLogin">Inloggen</button>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code {
    private bool isLoggedIn;
    string userId;
    bool alreadyFollowing;
    Project selectedProject { get; set; } = new Project();

    [Parameter]
    public string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        selectedProject = await Context.Projects.FirstOrDefaultAsync(p => p.ProjectId.ToString() == id);
        alreadyFollowing = Context.ProjectFollowers.Any(x => x.ProjectId == selectedProject.ProjectId && x.UserId == userId);
    }
    void toLogin()
    {
        Navigation.NavigateTo($"/account/login?returnUrl=/start-following/{id}");
    }
    async Task HandleFollow()
    {
        ProjectFollower projectFollower=new ProjectFollower
        {
            UserId =userId,
            ProjectId = selectedProject.ProjectId
        };
        Context.ProjectFollowers.Add(projectFollower);
        Context.SaveChanges();
        Navigation.NavigateTo("/userspage");
    }
}
